/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* ============================= */
/* LAYOUT */
/* ============================= */

.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 40px;
}

/* ============================= */
/* SIDEBAR */
/* ============================= */

.sidebar {
  width: 240px;
  background-color:#6366f1 ;
  color: rgb(105, 14, 14);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
}

.sidebar a {
  color: #b30404;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease;
}

.sidebar a:hover {
  background: rgb(233, 239, 237);
  color: rgb(49, 199, 79);
}

/* ============================= */
/* TOPBAR */
/* ============================= */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* ============================= */
/* STAT CARDS */
/* ============================= */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.stats-grid:hover{
  color: #ffffff;
}

.stat-card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  color: #ae1b1b;
}

.stat-card h3 {
  font-size: 16px;
  color: var(--text-light);
}

.stat-card h2 {
  margin-top: 10px;
  font-size: 28px;
}

/* ============================= */
/* BUTTONS */
/* ============================= */

button {
  padding: 12px 100px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: #0db96e;;
  color: #ffffff;
  margin: 5px;
  border: #ffffff solid 1px;
}

.home-btns{
  padding: 12px 50px;
}

button:hover{
  background-color: #693bdc;
  background-image: linear-gradient(to bottom, rgb(193, 167, 223) , rgb(80, 3, 233));
  color: rgb(252, 252, 252);
 
}

button.primary {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
}

button.primary:hover {
 
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.4);
  background-color: #0ace27;
}

/* ============================= */
/* INPUTS */
/* ============================= */

.login-input,
.email-input
{
  background-color: transparent;

}

input,
select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  margin-bottom: 15px;
  font-size: 14px;
  transition: 0.2s ease;
  
}

input:hover,
select:hover{
  background-color: #6157ba;
  color: #fefefe;
  
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

.login-page,
.register-page{
  width: 50%;
 padding: 50px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: #ffffff;
 overflow-y: auto;
}

.container-login{
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
   justify-content: center;
   display: flex;
}

.login-logo {
 background-color: #0db96e;
 width: 50%;
 background-image:url("/images/holding-phone.jpg");  
}


.login-logo2{
  width: 250px;
}



.table{
 
  border-spacing: 30px;
  border-collapse: 0px 4px;
  border-color: rgb(255, 255, 255) ;
  border-radius: 30px;
  border-style: solid;
  border-width: 5px;
}

.total-amount{
  padding:20px;
 
}

.company-logo{
  border-radius: 5px;
width: 50px;
margin-top: -12px;
}

.logo-container{
  display: flex;
  margin: 0;
}

.logo{
  margin-bottom: 0%;
}

h2{
  margin-bottom: 5px;
}